
.LoginSignUp{
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 650px;
    margin: 140px auto;
    background: white;
}
.login-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.login-container h1{
    text-align: center;
}
.login-container input{
    height: 50px;
}
.login-container button{
    color: white;
    background: #ff4141;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}
.login-container span{
    color: #ff4141;
    cursor: pointer;
}
.login-container .check-privacy{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login-container .check-privacy p{
    margin-left: 10px;

}
@media(max-width:1280px){
    .LoginSignUp{
        padding-top: 50px;
    }
    .login-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .login-container h1{
        margin: 10px 0px;
    }
    .login-container input{
        height: 65px;
        width: 93%;
    }
    .check-privacy{gap: 20px;
    margin-top: 20px;
    }
    .check-privacy input{
        height: 65px;
        width: 93%;
    }
    .login-container button{
        width: 100%;
    }
    .login-container p{
        font-size: 14px;
        gap: 10px;
    }
}
@media(max-width:800px){

    .login-container{
        padding-top: 20px 30px;
    }
    .login-container h1{
        font-size: 24px;
    }
    .login-container input{
        margin-top: 20px;
        height: 50px;
    }
    .check-privacy{gap: 20px;
    margin-top: 20px;
    }
    .check-privacy input{
        height: 65px;
        width: 93%;
    }
    .login-container button{
        height: 50px;
        font-size: 16px;

    }
    .login-container p{
        font-size: 14px;
        gap: 10px;
    }
}

